Django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-rest-swagger==2.2.0
drf-extra-fields==3.7.0
drf-yasg==1.21.7
psycopg2>=2.8
dj-database-url==2.2.0
cryptography==43.0.1
django-cors-headers==4.4.0
celery==5.4.0
gevent==24.2.1
django-treebeard==4.7.1
Pillow==10.4.0
django-filter==24.3
django-crispy-forms==2.3
crispy-bootstrap4==2024.10
django-autocomplete-light==3.11.0