{% load crispy_forms_tags %}
<html>
<head>
    <title>Enregistrement de Fi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="http://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid mt-5">
        <div class="fade-in"> 
            <div class="row mb-4">
            <div class="col lg-10 ml-2 mr-2">    
                <h1 class="text-center mb-4">Enregistrement des FI</h1>
                <h4 class="text-center mb-4">Veillez remplir ce formulaire une fois que vous êtes dans le lieu de la FI</h4>
                {% comment %} if form has erors t {% endcomment %}
                {% if form.errors %}
                    <div class="alert alert-danger center">
                        <strong>Erreur!</strong> Veuillez corriger les erreurs ci-dessous.
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form action="" method="POST" id="fi_form" data-sectors-url="{% url 'ajax_load_sectors' %}" data-fis-url="{% url 'ajax_load_fis' %}" data-fis-infos-url="{% url 'ajax_load_fi_infos' %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
            
            </div>
            

        </div>
        
    </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
</script> <script src="http://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    function initAutoCompletes(){

        //sector autocomplete
        
    }

    function getLocation(){
        //clear the id_gps_position field
        $('#id_gps_position').val('');

        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(onGeoSuccess,onGeoError);  
        } else {
            alert("Your browser or device doesn't support Geolocation");
        }
    }
    
    // If we have a successful location update
    function onGeoSuccess(event){
        let position = `${event.coords.latitude},${event.coords.longitude}`;

        $('#id_gps_position').val(position);
    }
    
    // If something has gone wrong with the geolocation request
    function onGeoError(event){

        alert("Error getting Gps " + event.code + ". " + event.message);
    }


    function auto_fill_sectors(){
        $("#id_city").change(function () {
            var url = $("#fi_form").attr("data-sectors-url");  // get the url of the `load_cities` view
            var cityId = $(this).val();  // get the selected country ID from the HTML input
      
            $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
              data: {
                'city': cityId       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_sector").html(data);  // replace the contents of the city input with the data that came from the server
              }
            });
      
          });
    }

    function auto_fill_fis(){
        $("#id_sector").change(function () {
            var url = $("#fi_form").attr("data-fis-url");  // get the url of the `load_cities` view
            var sectorId = $(this).val();  // get the selected country ID from the HTML input
      
            $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
              data: {
                'sector': sectorId       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_fi").html(data);  // replace the contents of the city input with the data that came from the server
              }
            });
      
          });
    }

    function auto_fill_fis_infos(){
        $("#id_fi").change(function () {
            var url = $("#fi_form").attr("data-fis-infos-url");  // get the url of the `load_cities` view
            var fiId = $(this).val();  // get the selected country ID from the HTML input
      
            $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
              data: {
                'fi': fiId       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                //data is json
                console.log(data);
                //fill quater
                $("#id_quater").val(data.quater);
                //fill gps position
                $("#id_gps_position").val(data.gps_position);
                //fill description
                $("#id_description_to_join_fi").val(data.description_to_join_fi);
              }
            });
      
          });

    }

    


    function init(){
        //initAutoCompletes();
        auto_fill_sectors();
        auto_fill_fis();
        auto_fill_fis_infos();
    }

    $(document).ready(function(){
        init();
    });

    

</script>


</body>
</html>